.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  padding: var(--padding-button);
  border: none;
  border-radius: var(--radius-md);
  font-weight: 500;
  font-size: var(--font-base);
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: var(--global-transition);
}

.btn:hover {
  opacity: var(--opacity-hover);
}

.btn:active {
  transform: var(--transform-translateY);
}

/* Button Variants */
.transparent {
  background-color: transparent;
  box-shadow: none;
}
.default {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}

.success {
  background-color: var(--green-light);
  color: var(--green-dark);
}

.danger {
  background-color: var(--red-light);
  color: var(--red-dark);
}
