.btn {
  padding: var(--padding-button);
  border: none;
  border-radius: var(--radius-md);
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: var(--global-transition);
}

.btn:hover {
  transform: var(--transform-scale);
  opacity: var(--opacity-hover);
}

.btn:active {
  transform: var(--transform-translateY);
}

/* Button Variants */
.default {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}

.success {
  background-color: var(--green-light);
  color: var(--green-dark);
}

.danger {
  background-color: var(--red-light);
  color: var(--red-dark);
}
