.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  padding: var(--padding-button);
  border: none;
  border-radius: var(--radius-md);
  font-weight: 500;
  font-size: var(--font-base);
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: var(--global-transition);
  transform: translateZ(0) translateY(0);
  will-change: transform, opacity;
}

.btn:hover {
  transform: var(--transform-translateY-negative);
}

/* Button Variants */
.transparent {
  color: var(--text-primary);
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.neutral {
  background-color: var(--grey-light);
  color: var(--grey-dark);
}
.default {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}

.success {
  background-color: var(--green-light);
  color: var(--green-dark);
}

.danger {
  background-color: var(--red-light);
  color: var(--red-dark);
}
