.container {
  padding-left: var(--space-3);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 616px;
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  background-color: var(--grey-light);
}

.input {
  border: none;
  background-color: transparent;
  font-size: var(--font-base);
  width: 100%;
  max-width: 400px;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  padding-right: var(--space-3);
  color: var(--text-primary);
}

.btnAdd {
  border-radius: 0px var(--radius-md) var(--radius-md) 0px !important;
}

.iconPlus {
  fill: var(--blue-dark);
}

.iconDropDown {
  fill: var(--subtext);
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

@media (max-width: 480px) {
  .input {
    width: 100%;
    max-width: none;
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
    padding-right: var(--space-2);
    color: var(--text-primary);
  }
}
