.menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  padding: var(--space-6);
  align-items: flex-start;
  gap: var(--space-3);
  border-radius: var(--radius-md);
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
  box-shadow: var(--shadow-lg);
}

.title {
  color: var(--subtext);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-6);
  padding: var(--space-2);
  border-radius: var(--radius-md);
  cursor: pointer;
}

.item.active {
  background-color: var(--grey-light);
}

.item:hover {
  background-color: var(--grey-light);
}
