.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--border-dark);
}

.text {
  color: var(--text-primary);
}

.text.completed {
  color: var(--subtext);
  text-decoration: line-through;
}

.controlsRight,
.controlsLeft {
  display: flex;
  align-items: center;
}

.iconTrash {
  fill: var(--red-dark);
}

.iconEllipsis,
.iconCheckBox {
  fill: var(--subtext);
}

.iconCheckBox.completed {
  fill: var(--green-dark);
}
