/*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border-radius: var(--radius-lg);
  padding: var(--space-7);
  max-width: 500px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: var(--shadow-lg);
  gap: var(--space-7);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionButton {
  width: 100%;
}

/* Task Details Content */
.taskDetailsContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-4);
}

.taskTitle,
.dueDate {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.taskDetailsContent .notes {
  display: flex;
  align-items: start;
  padding: var(--space-5);
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  background: var(--grey-light);
}

/* New Task Content */
.newTaskContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.newTaskContent .notes {
  min-height: 140px;
}

/* List Picker Content */
.listPicker {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-3);
}

.listPicker .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-6);
  padding: var(--space-2);
  border-radius: var(--radius-md);
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  border: solid 1px var(--border);
}

.listPicker .item.active {
  background-color: var(--grey-light);
}

.listPicker .item:hover {
  background-color: var(--grey-light);
}
