.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-4);
  border-bottom: solid 1px var(--border-dark);
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.listButton {
  display: flex;
  align-items: center;
  font-size: var(--font-heading);
  color: var(--text-primary);
  fill: var(--text-primary);
}

.iconList, .iconInbox {
  font-size: var(--font-heading);
}

.iconInbox{
  fill: var(--blue-dark);
}
.iconPlus {
  fill: currentColor;
}

.iconMoonFilled {
  fill: var(--yellow-dark);
}

.iconMoon {
  fill: var(--text-primary);
}
