.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
}

.listButton {
  display: flex;
  align-items: center;
  font-size: var(--font-heading);
  color: var(--text-primary);
  fill: var(--text-primary);
}

.listIcon {
  font-size: var(--font-heading);
}
.iconPlus {
  fill: currentColor;
}

.iconMoonFilled {
  fill: var(--yellow-dark);
}

.iconMoon {
  fill: var(--text-primary);
}
