.card {
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  background: var(--grey-light);
}

.number {
  padding: var(--space-2);
  border-radius: var(--radius-md) 0 0 var(--radius-md);
}

.text {
  color: var(--text-primary);
  font-size: var(--text-base);
  padding: var(--space-2);
}

.number.blue {
  background-color: var(--blue-light);
  color: var(--blue-dark);
}

.number.green {
  background-color: var(--green-light);
  color: var(--green-dark);
}

.number.red {
  background-color: var(--red-light);
  color: var(--red-dark);
}
