/* Stat Card */
.card {
  display: inline-flex;
  align-items: center;

  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  background-color: var(--grey-light);
}

.count {
  padding: var(--space-3);
  border-radius: var(--radius-md) 0 0 var(--radius-md);
}

.title {
  padding: var(--space-3);
  color: var(--subtext);
}

.count.all {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}

.count.completed {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.count.remaining {
  color: var(--red-dark);
  background-color: var(--red-light);
}

/* Stats List */
.stats{
    display: flex;
    justify-content: center;
    gap: var(--space-5);
}
