/* Task List */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-5);
}

.list {
  width: 100%;
  align-self: stretch;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: var(--space-5);
}

.emptyStateText {
  text-align: center;
  color: var(--subtext);
}

.stats {
  display: inline-flex;
  justify-content: space-around;
  gap: var(--space-3);
}

/* Task Item */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
  text-wrap: wrap;
  gap: var(--space-3);
}

.task .hide {
  display: none;
}

.task:hover .hide {
  display: inline-flex;
}

.textContainer {
  display: inline-flex;
  flex-direction: column;
}

.text {
  align-items: center;
  color: var(--text-primary);
  word-break: break-word;
  overflow-wrap: break-word;
}

.metaInfo{
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.iconIndicator{
  fill: var(--subtext);
  width: var(  --font-subtext);
  height: var(  --font-subtext);
}

.controlsLeft {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.text.completed {
  color: var(--subtext);
  text-decoration: line-through;
}

.controlsRight,
.controlsLeft {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.iconTrash {
  fill: var(--red-dark);
}

.iconEllipsis,
.iconCheckBox {
  fill: var(--subtext);
}

.iconCheckBox.completed {
  fill: var(--green-dark);
}

@media (max-width: 480px) {
  .task .hide {
    display: flex;
  }
}
